[Unit]
Description=EMDR Data API with MongoDB backend
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ruby /usr/lib/eve/api.rb
User=daemon
Group=daemon
Restart=always

[Install]
WantedBy=multi-user.target